<p id="notice"><%= notice %></p>
<div class="user-registration-edit">
	<h2>Edit <%= resource_name.to_s.humanize %> <%= current_user.full_name %></h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
		<%= devise_error_messages! %>

		<div class="field">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true %>
		</div>

		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>

		<div class="form-group">
			<img id="img_prev" src="#" alt="your image" class="user-picture hidden"/> <br/>
			<span class="btn btn-default btn-file">
				Upload Avatar Image<%= f.file_field :avatar, id: "avatar-upload" %>
		</span>
		<%= f.hidden_field :avatar_cache %>
		</div>

		<div class="actions">
			<%= f.submit "Update" %>
		</div>
	<% end %>

	<h3>Delete Account</h3>

	<p>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "We are sorry to see you go. Are you sure you want to delete your account?" }, method: :delete %></p>

	<%= link_to "Cancel", main_app.user_path(current_user.id)%>
</div>
