<% comments.each do |comment| %>
	<% user = User.find(comment.user_id) %>
  <div class="comments-show">
    <div class="comment">
    <div style="position: relative; padding-top: 10px;">
    	<div class="inline-block comment-img-icon inline-block">
        <%= link_to image_tag(user.avatar, class: "comment-img-icon inline-block"), main_app.user_path(user.id), style: "padding:0;"%>
      </div>
      <div class="inline-block" style="margin-left: 64px;">
        <h4 style="margin-top: 0;"> <%= sanitized_user_name(user) %> </h4>
        <div class="secondary-info fourteen"> <%= show_date(comment.created_at)  %> </div>
      </div>
    </div>
		<% @button_class = (current_user.voted_for? comment)? "upvote-btn-clicked" : "" %>
		<%= link_to comment_upvote_path(comment.id), :id => "upvote", :class => @button_class + " upvote-btn text-center no-style", :remote => true do %>
					<i class="fa fa-arrow-circle-o-up"></i>&nbsp <div id="upvote-btn-line"></div> <span class="upvote-value btn-text">&nbsp+ <%= comment.get_upvotes.size %></span>
		<% end %>
      <p style="margin-top: 14px;"><%= comment.body %><br></p>
			<% if(level == 0) %>
				<div class="comment-nav"><a href="#" data-turbolinks="false" class="comment-reply">reply</a></div>
				<div class="reply-form">
					<%= form_for(@new_comment, remote: true) do |f| %>
						<%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
						<%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
						<%= f.hidden_field :comment_id, value: comment.id %>
					 <%= f.hidden_field :post_id, value: post.id %>
						<div class="field form-group">
							<%= f.text_area :body %>
						</div>
						<div class="field form-group">
							<%= submit_tag "Post Reply", class: 'btn btn-primary' %>
						</div>
					<% end %>
				</div>
			<% else %>
			<% end %>
    </div>
    <%= render partial: "comments/reply", locals: {comments: comment.children, post: post, level: level + 1} %>
  </div>
<% end %>
