<div class="card feed-card trending-card">

    <% if !current_user.nil? %>

    <div id="filter-home-page">
        <h1 style="margin-bottom: 15px; display:inline-block;">
            Trending &nbsp
        </h1>
        <div style="display: inline-block;" class="fa fa-caret-down">
        </div>
    </div>
    <div id="filter-home-page-card">
			<!--- going to have to make this an AJAX form to send position choice -->
		<h3 style="padding-top: 0; margin-top: 0;" class="secondary-title">Order By </h3>

		<div style="margin-bottom: 30px; border-radius: 5px;">
		    <div class="order-by-element">Trending</div>
		    <div class="modal-line-divider"></div>
		    <div class="order-by-element" style="border-radius: 0;">New</div>
		    <div class="modal-line-divider"></div>
		    <div class="order-by-element" style="border-radius: 0 0 5px 5px;">Top</div>
		</div>
        <!--<div style="margin-bottom: 30px; margin-left: -10px;">
            <%= link_to "Trending", {controller: "filters", action: "filter", role: "software"} , class:"tag-button", :remote => true %>
            <%= link_to "New", {controller: "filters", action: "filter", role: "product"} , class:"tag-button", :remote => true %>
            <%= link_to "Top", {controller: "filters", action: "filter", role: "design"} , class:"tag-button", :remote => true %>
        </div>-->
        <div class="modal-line-divider" style="margin-bottom: 30px;"></div>
        <h3 style="padding-top: 0; margin-top: 0;" class="secondary-title">Filter By Category</h3>
        <div style="margin-bottom: 30px; margin-left: -10px;">
            <!-- <h5 class="tag-button" style="margin-left: 0;">Software Engineering</h5> -->
            <%= link_to "Software Engineering", {controller: "filters", action: "filter", role: "software"} , class:"tag-button", :remote => true %>
            <%= link_to "Product Management", {controller: "filters", action: "filter", role: "product"} , class:"tag-button", :remote => true %>
            <%= link_to "Design", {controller: "filters", action: "filter", role: "design"} , class:"tag-button", :remote => true %>
            <%= link_to "Data Science", {controller: "filters", action: "filter", role: "data"} , class:"tag-button", :remote => true %>
        </div>

        <div style="justify-content:flex-end;display:-webkit-flex; display:flex;">
                <div class="small-button" id="filter-cancel" style="margin-right:auto; color: #53575A;">Cancel</div>
                <div class="small-button" id="filter-apply" style="background-color:#FF6376; color: white; border: none;">Apply</div>
         </div>

    </div>
    <div class="line-divider add-your-experience-divider"></div>

		<!--- Only show add button if its relevant as decided by top level view -->
		<% if add %>
			<%= link_to main_app.new_post_path, remote: true do %>
				<h2 class="trending-card-input">Add your experience...</h2>
			<% end %>
		<div class="line-divider add-your-experience-divider"></div>
		<% end %>

		<!-- <a class="new-post-button" onClick="createNewPost(event)">
		</a> -->
		<div id="posts">
			<%= render partial: 'shared/postslist', locals: {posts: posts} %>
			<!-- Pagination begins here -->
			<div id="infinite-scrolling">
				<%= will_paginate posts %>
			</div>
		</div>
    <% else %>
      <%= render partial: 'shared/not_logged_in' %>
    <% end %>
</div>
