<!--- This partial is what is responsible for being shown when you click a post
	card. The flow for this call is
	home.html.erb renders postsgrid which renders a postcard for all the posts from the
	home action of pages_controller. For each postcard there is a link_to to the
	post_path(post.id) that is implicitly tied to the show action in posts_controller.rb.
	This link_to is remote: true which means its an AJAX call which activates the respond_to
	block in the show action. We respond with format.js which will load up the views/posts/show.js.erb
	which then triggers an HTML injection into the showme div inside home.html.erb which then
	render this file
-->
<% if post %>
<div class="postmodal getpostmodal postview yhide">
  <div class="overlay" onclick="hideModal('postview')">
  </div>
  <!--<ul class="tabrow">
        <li class="active">Experience</li>
        <li>Questions</li>
  </ul>-->
  <div class="modalcard">
    <div class="modal-navbar-container">
        <ul class="nav navbar-nav modal-navbar">
          <li class="modal-navbar-list">
            <a id="experience-nav" class="navbar-link modal-active modal-navbar-a" onclick="getExperienceView()">Experience</a>
          </li>
          <li class="modal-navbar-list">
            <a id="questions-nav" class="navbar-link modal-inactive modal-navbar-a" onclick="getQuestionsView()">Questions</a>
          </li>
        </ul>
    </div>
    <div class="button-close-container">
        <div class="button-close" style="top: -30px;"onclick="hideModal('postview')">
          <div class="close hairline"></div>
        </div>
    </div>
    <div class="inner experience-view">
      <div class="head">
        <div class="first-experience-line" style="margin-top: 10px; margin-bottom: 24px;">
          <div style="line-height: 22px;" class="fourteen">
              <% if post.company%>
                  <%= image_tag post.company.image, class: "tiny-company-icon" %>
                  <%= link_to post.company.name, main_app.company_path(post.company.id), class: "company-info fourteen"%>&nbsp·&nbsp
              <% end %>
                <a class="secondary-info fourteen"><%= post.position %></a>
          </div>
          <% @button_class = (current_user.voted_for? post)? "upvote-btn-clicked" : "" %>
          <%= link_to post_upvote_path(post.id), :id => "upvote", :class => @button_class + " upvote-btn text-center no-style", :remote => true do %>
                <i class="fa fa-arrow-circle-o-up"></i>&nbsp <div id="upvote-btn-line"></div> <span class="upvote-value btn-text">&nbsp+ <%= post.get_upvotes.size %></span>
          <% end %>
        </div>
        <div class="modal-line-divider"></div>
        <h3 class="big">
          <%= post.title %>
        </h3>
        <div class="secondary-info postcard-big-spacing fourteen" style="padding-bottom: 0 !important;">
            Written by <%= sanitized_user_name(post.user) %> on <%= post.created_at.strftime('%B %e, %Y') %>
        </div>
      </div>
      <div class="modal-line-divider"></div>
      <div class="content">
        <div class="experience">
            <h6>Interview Experience</h6>
            <p clas="postcard-small-spacing">
              <%= post.experience %>
            </p>
        </div>
        <div class="modal-line-divider" style="margin-top: 24px; margin-bottom: 24px;"></div>
        <%= render partial: "comments/template", locals: {commentable: post, new_comment: post_comment} %>
      </div>
    </div>
    <div class="inner questions-view">
			<div>
					<% if !post.questions.nil? %>
						<% post.questions.each do |question| %>
							<h3> <%= question.question %> </h3>
							<div class="modal-line-divider" style="margin-top: 24px; margin-bottom: 24px;"></div>
							<% question_comment = Comment.build_from(question, current_user.id, "") %>
							<%= render partial: "comments/template", locals: {commentable: question, new_comment: question_comment} %>
						<% end %>
					<% else %>
						<h3> <%= post.question %> </h3>
					<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>
