<!--- This partial is what is responsible for being shown when you click a post
	card. The flow for this call is
	home.html.erb renders postsgrid which renders a postcard for all the posts from the
	home action of pages_controller. For each postcard there is a link_to to the
	post_path(post.id) that is implicitly tied to the show action in posts_controller.rb.
	This link_to is remote: true which means its an AJAX call which activates the respond_to
	block in the show action. We respond with format.js which will load up the views/posts/show.js.erb
	which then triggers an HTML injection into the showme div inside home.html.erb which then
	render this file
-->
<% if post %>
<div class="postmodal getpostmodal postview yhide">
  <div class="overlay" onclick="hideModal('postview')">

  <div class="tab-container tab-container-active">
    <div class="tab-active tab-element">Experience</div>
  </div>
  <div class="tab-container">
    <div class="tab-element" style="margin-left: 50%;">Questions</div>
  </div>
  <!--<ul class="tabrow">
        <li class="active">Experience</li>
        <li>Questions</li>
  </ul>-->
  <div class="modalcard">
    <div class="button-close-container">
        <div class="button-close" onclick="hideModal('postview')">
          <div class="close hairline"></div>
        </div>
    </div>
    <div class="inner">
      <div class="head">
        <div class="first-experience-line">
          <div style="line-height: 22px;">
              <% if post.company%>
                  <%= image_tag post.company.image, class: "tiny-company-icon" %>
                  <%= link_to post.company.name, main_app.company_path(post.company.id), class: "company-info"%>&nbsp·&nbsp
              <% end %>
                <a class="secondary-info"><%= post.position %></a>
          </div>
          <% @button_class = (current_user.voted_for? post)? "upvote-btn-clicked" : "" %>
          <%= link_to post_upvote_path(post.id), :id => "upvote", :class => @button_class + " upvote-btn text-center no-style", :remote => true do %>
                <i class="fa fa-arrow-circle-o-up"></i>&nbsp <div id="upvote-btn-line"></div> <span class="upvote-value btn-text">&nbsp+ <%= post.get_upvotes.size %></span>
          <% end %>
        </div>
        <h3 class="big">
          <%= post.title %>
        </h3>
        <div class="secondary-info postcard-big-spacing">
            Written by Shivam Thapar on Sep 14, 2016 &nbsp·&nbsp ✓Offer &nbsp·&nbsp Difficult Interview
        </div>
      </div>
      <div class="content">
        <div class="experience">

            <%= post.experience %>
        </div>
				<!--<div class="experience">
					<% unless post.question.nil? %>
						<h3> Question </h3>
						<%= post.question %>
					<% end %>
				</div>-->
      </div>
    </div>
  </div>
</div>
<% end %>
