<%= form_for(@post) do |f| %>
  <div class="form-group">
    <%= f.label 'Add your experience...' %><br>
      <%= f.text_field :title, class: 'form-control', autofocus: true, required: true,
          placeholder: 'Title' %>
      <%= f.text_area :experience, class: 'form-control', autofocus: true, required: true,
          placeholder: 'Enter relevant interview experience' %>
			<%= f.text_area :question, class: 'form-control', autofocus: true, placeholder: 'Enter relevant interview questions' %>
  </div>
  <%= f.submit :post, class: 'btn btn-primary'%>
<% end %>
