<%= form_for(@post, remote: true, html: {id: "new-post-form", novalidate: 'novalidate'}) do |f| %>
  <div id="step-1" class="form-group">
    <h4 class="modal-page-num">Page 1 of 2</h4>
    <h3 class="modal-title">Share your recruiting experience</h3>
    <div class="modal-line-divider"></div>
    <div style="display:flex;">
        <div class="small-column">
            <h5>Company</h5>
            <%= text_field_tag :company_name, "", class: 'modal-input', autofocus: true, required: true,
                      placeholder: "What's the company's name?" %>
        </div>
        <div class="modal-line-vertical-divider"></div>
        <div class="big-column">
            <h5>Position</h5>
            <%= f.text_field :position, class: 'modal-input', autofocus: true, required: true,
                      placeholder: "What role did you interview for?" %>
        </div>
    </div>
    <div class="modal-line-divider"></div>
    <h5>Experience Title</h5>
    <%= f.text_field :title, class: 'modal-input', autofocus: true, required: true,
          placeholder: 'How would you title your interview and recruiting experience?' %>
    <div class="modal-line-divider"></div>
    <h5>Experience Description</h5>
    <%= f.text_area :experience, class: 'modal-input modal-input-big-description', autofocus: true, required: true,
          placeholder: 'How would you describe your interview and recruiting experience?' %>
	<div class="modal-line-divider"></div>
	<h5>Interview Questions</h5>
	<div id="cached-questions">
	    <%= f.text_area :question, class: 'modal-input modal-input-medium-description', id: 'interview-question1', autofocus: true, placeholder: 'Enter one relevant interview question at a time.' %>
	</div>
	<div class="small-button" id="add-question-button">Add Question</div>
    <div class="modal-line-divider"></div>
    <h5>Unique Resources</h5>
    <%= f.text_area :resources, class: 'modal-input modal-input-small-description', autofocus: true, placeholder: 'What unique classes, books, and other materials were helpful for the interview preparation?' %>
    <div class="modal-line-divider"></div>
    <div class="button" id="next-button">Next</div>
  </div>
  <div id="step-2" class="form-group">
    <h4 class="modal-page-num">Page 2 of 2</h4>
    <h3 class="modal-title">Share your recruiting experience</h3>
    <div class="modal-line-divider"></div>
    <!--<h5>How difficult was the interview?</h5>
    <div>
        <input type="radio" id="r1" name="difficulty" value="easy"/>
        <label for="r1"><span></span>Easy</label>
    </div>
    <div>
        <input type="radio" id="r2" name="difficulty" value="avg"/>
        <label for="r2"><span></span>Average</label>
    </div>
    <div>
        <input type="radio" id="r3" name="difficulty" value="difficult"/>
        <label for="r3"><span></span>Difficult</label>
    </div>
    <div class="modal-line-divider"></div>
    <h5>Did you receive an offer?</h5>
    <div>
        <input type="radio" id="r4" name="offer" value="accepted"/>
        <label for="r4"><span></span>Yes; Accepted</label>
    </div>
    <div>
        <input type="radio" id="r5" name="offer" value="declined" />
        <label for="r5"><span></span>Yes; Declined</label>
    </div>
    <div>
        <input type="radio" id="r6" name="offer" value="no_offer" />
        <label for="r6"><span></span>No</label>
    </div>
    <div class="modal-line-divider"></div>-->
    <h5>What would you say the position you interviewed for was most similar to?</h5>
    <div>
        <input type="radio" id="r7" name="role" value="software"/>
        <label for="r7"><span></span>Software Engineering</label>
    </div>
    <div>
        <input type="radio" id="r8" name="role" value="product"/>
        <label for="r8"><span></span>Product Management</label>
    </div>
    <div>
        <input type="radio" id="r9" name="role" value="design"/>
        <label for="r9"><span></span>Product Design</label>
    </div>
    <div>
        <input type="radio" id="r10" name="role" value="data"/>
        <label for="r10"><span></span>Data Science</label>
    </div>
    <div class="modal-line-divider"></div>
    <h5>Would you like this post to be anonymous?</h5>
    <div style="display: flex;">
        <div class="select-container">
            <input type="checkbox" id="r11" name="anonymous" />
            <label for="r11"><span></span>Yes, I would like to post this anonymously.</label>
        </div>
    </div>
    <div class="modal-line-divider"></div>
    <%= f.submit "Post", class: 'button input-button-fix', id: "next-button"%>
  </div>
<% end %>
