<!DOCTYPE html>
<html>
  <head>
    <title>Bruinscope</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body style="margin: 0; background-color: #F4F4F4">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

    <!-- Nav Bar rendered as a partial from the shared folder -->
		<%= render partial: 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
